
ion-icon {
    color:white;
    display: inline-block;
    font-size: 2rem;
  }

  .add_user{
    background-color: var(--theme-major-color);
    padding: 1rem;
    position: fixed;
    bottom: 2em;
    right: 2%;
    cursor: pointer;
    border-radius: 50%;
}

.add_user:active{
  transform: scale(0.9);
}

@media only screen and (max-width: 600px) {
    .add_user{
        padding: 0.5rem;
        bottom: 5px;
        right: 5px;
    }
  }