.nav_bar{
  background-color: var(--theme-background-color);
  display: flex;
  align-items: center;
  padding: 0 5rem;
  justify-content: space-between;
}

.brand_logo{
  width: 12%;
  height:12%
}

.brand_logo img{
  width: 100%;
  height: 100%;
}

.employee_nav{
  position: relative;
  right: 100px;
  font-size: large;
  font-weight: 700;
  color: rgb(37, 37, 37);
  background-color: #41B06E;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.employee_nav:active{
  transform: scale(0.9);
}

th , tfoot{
  background-color: var(--theme-background-color);
}