:root{
  --body-background-color : #FFF5E0;
  --theme-major-color : #141E46;
  --theme-background-color : #8DECB4;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--body-background-color);
}